/* Reset and Box Model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light background */
    color: #333; /* Dark text */
}


header {
    background-color: #11131e; /* Dark header background */
    color: white; /* White text */
    padding: 10px 0; /* Padding for header */
    text-align: center; /* Center align header text */
}

/* Footer Styles */
footer {
    background-color: #11131e; /* Dark footer background */
    color: white; /* White text */
    text-align: center; /* Center align footer text */
    padding: 10px 0; /* Padding for footer */
    margin-top: auto; /* Push footer to the bottom */
    width: 100%; /* Full width footer */
    z-index: 1000;
}

/* Container Styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Card Styles */
.card {
    background-color: #ffffff; /* White card background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Padding for card */
    margin-bottom: 20px; /* Margin below card */
    text-align: center; /* Center align card text */
}

/* Button Styles */
.btn {
    background-color: #6200ea; /* Purple button color */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 15px; /* Padding for button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Transition effect */
}

.btn:hover {
    background-color: #3700b3; /* Darker purple on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .subject {
        width: 100%; /* Full width for small screens */
    }
}

/* Additional Styles for Specific Elements */
h1 {
    font-size: 36px; /* Header font size */
    color: #2c3e50; /* Header color */
}

h2 {
    font-size: 24px; /* Subheader font size */
    color: #2980b9; /* Subheader color */
}

h3 {
    font-size: 20px; /* Smaller header font size */
    margin-bottom: 5px; /* Margin below smaller headers */
}

.download-link {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 15px;
    background-color: #27ae60; /* Green button color */
    color: white; /* White text */
    text-decoration: none; /* No underline */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Transition effect */
}

.download-link:hover {
    background-color: #2ecc71; /* Lighter green on hover */
}